<a href="https://colab.research.google.com/github/JonathanACastro/PySpark_Tips/blob/main/03%20-%20Using_Filter_in_DataFrame_PySpark.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

First we need install PySpark for using SparkSession below

In [12]:
!pip install pyspark
import pyspark

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: pyspark in /usr/local/lib/python3.7/dist-packages (3.3.0)
Requirement already satisfied: py4j==0.10.9.5 in /usr/local/lib/python3.7/dist-packages (from pyspark) (0.10.9.5)

Import class from pypsark.sql and typing

In [19]:
from pyspark.sql import DataFrame, SparkSession
from pyspark.sql.functions import col
from typing import List

Create Spark Session appName

In [ ]:
spark= SparkSession.builder.appName("Filter_Example").getOrCreate()

In [13]:
spark

Lets create a dataframe for we filter the data

In [14]:
columns = ['Name', 'LastName', 'City','Age']

data = [('Nick', "Johnson", 'New York', '18'),
        ('Ruan', "Carmon", 'Mexico City', '20'),
        ('Felipe', "Nogueira", 'Lisbon', '35'),
        ('Santiago', "Pepe", 'Santiago', '05'),
        ('Jose', None, 'Brazil', '60')]
df_input = spark.createDataFrame(data, columns)

In [15]:
df_input.show()

+--------+--------+-----------+---+
|    Name|LastName|       City|Age|
+--------+--------+-----------+---+
|    Nick| Johnson|   New York| 18|
|    Ruan|  Carmon|Mexico City| 20|
|  Felipe|Nogueira|     Lisbon| 35|
|Santiago|    Pepe|   Santiago| 05|
|    Jose|    null|     Brazil| 60|
+--------+--------+-----------+---+

Using Filter() and col()

In [22]:
var_name = 'Felipe'

df_input.filter(col('Name')==var_name).show()

+------+--------+------+---+
|  Name|LastName|  City|Age|
+------+--------+------+---+
|Felipe|Nogueira|Lisbon| 35|
+------+--------+------+---+

In [25]:
# using just filter()
df_input.filter('Name == "Jose"').show()

+----+--------+------+---+
|Name|LastName|  City|Age|
+----+--------+------+---+
|Jose|    null|Brazil| 60|
+----+--------+------+---+

If you have a list for filter you could use .isin()

In [26]:
df_input.filter(col('Name').isin('Ruan', 'Nick')).show()

+----+--------+-----------+---+
|Name|LastName|       City|Age|
+----+--------+-----------+---+
|Nick| Johnson|   New York| 18|
|Ruan|  Carmon|Mexico City| 20|
+----+--------+-----------+---+